<nav class="navbar navbar-expand-lg navbar-dark bg-dark img-fluid">
        <div class="container">
        <a class="navbar-brand" href="/">
            <img  class="logotipo" src="imagen/logo.png" alt=""  width="100px">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="me-auto p-2"></div>
            <div class="p-2"></div>
            <div class="p-2"></div>
            <ul class="navbar-nav m-lg-auto img img-fluid">
                <li class="nav-item active">
                <a class="nav-link " aria-current="page"  href="/mapa">Mapa</a>
                </li>
                <li class="nav-item dropdown img-fluid">
                <a class="nav-link" href="/roles" role="button" aria-expanded="false" >Roles</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link " aria-current="page"  href="/lista">Sumate a la Lista</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link" aria-current="page"  href="/listajugadores">Lista de Jugadores</a>
                </li>
            </ul>

            
        </div>
        </div>
    </div>
    </nav>