<body class="bodaa">
    
</body>

<div class="flex-container">
    <form action="lista" method="post" class="form">
        <div class="form__section">
            <input type="text" class="form__input" name="nombre" required placeholder="Escribí tu NickName">
        </div>
        <div class="form__section">
            <input type="text" class="form__input" name="rango" required placeholder="Que Rango de Clasificatoria">
        </div>
        <div class="form__section">
            <textarea class="form__input" name="mensaje" placeholder="Describí tus habilidades"></textarea>
        </div>
        <div class="form__section">
            <input type="submit" class="form__submit">
        </div>
        
</form>
