
  <body class="bod">
    
</body>
<div class="cont_h2">
            <h2 class="text-center">
                Listado de Jugadores!
            </h2>
    </div>
    <div class="container">
    

    <table class="table table-dark">
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Rango</th>
        </thead>
        <tbody>
            {{#each results}}
            <tr>
                {{!-- Para traer datos de la BS --}}
                <td>{{idjugador}}</td>
                <td>{{nombre}}</td>
                <td>{{rango}}</td>
            </tr>
            {{/each}}

        </tbody>
    </table>
</div> 