   <body class="bod">
    
</body>
    <main>
        <section class="altura-a-b">
            <div class="container">
                <div class="row">
                    <div class="titulo1"><h1>
                    BIENVENIDOS AL MAPA DE LEAGUE OF LEGENDS
                    </h1></div>
                    <div class="col-12 text-center">
                        <img class="img-fluid shadow-lg" src="imagen/composicion-de-la-grieta-del-invocador-300x168.jpg" alt="imagen 01" width="500px">
                    </div>
                <div>
            <div>
        <section>           
    <main>
<nav>
    <div class="container-1">
            <h5>La Grieta del Invocador de League of Legends tendrá tres líneas, también llamadas calles, por donde tendremos que avanzar para alcanzar la base enemiga. Se pueden dividir en:
            </h5> 
            <p><strong class="top">Carril superior: </strong> La línea de arriba del mapa destaca por ser la más larga de la Grieta del Invocador. El jugador que ocupe ese rol sera el ‘toplaner’.
            </p><strong class="mid">Carril medio: </strong>: La línea central del mapa es perfecta para campeones que tengan ataques de rango. Al estar solo en la línea, conseguirá experiencia más rápidamente que los demás personajes, lo que ofrecerá una ventaja importantísima para su equipo.
            </p><strong class="bot">Carril inferior: </strong> Es la linea inferior del mapa. En esta siempre suele haber dos campeones, el AD Carry y el Support.
            </p><strong class="jg">La Jungla: </strong>Una de las zonas más importantes de toda la Grieta del Invocador donde encontraremos monstruos neutrales muy importantes para el devenir de la partida.<p>
            </p><strong class="inhi">inhibidor:</strong> Los Inhibidores son construcciones que bloquean el entrenamiento de Super Súbditos enemigos en el mismo carril. Tienen 4000 puntos de vida y no tienen armadura ni resistencia mágica.</p>
            <p><strong class="torre">Las Torres:</strong> Las torretas son un objetivo en League of Legends, estas son estructuras que otorgan visión de la zona, ayudan a controlar territorio y hacen mucho daño si detectan a un enemigo cerca, Cada equipo tiene 11 torres, 3 por línea, y 2 defendiendo el Nexo.</p>
            <p><strong class="nexo">Nexo:</strong> El nexo es el responsable de que los súbditos aparezcan y se dirijan a cada uno de los carriles. El nexo es protegido principalmente por dos torretas, al destruirlo ganas la partida, si el caso es contrario y el tuyo se destruye, perdiste.
            </p>
        </div>
</nav>

<div>
    <h2 class="subtitulo1">
        Las criaturas de la jungla.
    </h2>
    <p class="explicacion">Existen tres tipos diferentes de criaturas: pequeños, medianos y mayores. Los pequeños y los medianos son las criaturas que habitan dentro de la propia jungla.En cambio los dos mayores se encuentran en el río, y por lo general es necesario el apoyo del resto de compañeros para hacerlos.</p>
</div>



<div>
<img src="imagen/diferentes-lineas.jpg" alt="imagen02" width="50%">
</div>


<div class="subtitulo2">
    <h3>Todas las criaturas de la jungla:</h3>
</div>
<div class="picu text-center">
    <p> 
        <img decoding="async" src="imagen/picu.jpg" class="img-fluid" width="1000"></amp-img>
    </p>
</div>

<div class="picu2">
<p><strong>Picuchillos:</strong> Un grupo formado por cuatro pequeños y uno más grande. En grupo hacen mucho daño, pero también dan mucha experiencia. Lo mejor es acabar con el grande primero y tratar de bajar la vida de los pequeños con habilidades de áreas. Si no es posible, hay que centrarse en los pequeños para eliminar sus ataques y al final en el grande, que es el que dará una mayor cantidad de oro.</p>
</div>

<div class="text-center col-12">
    <img decoding="async" src="imagen/lobos.jpg" class="img-fluid" width="1000"></amp-img>
</div>

<div class="lobos">
<p><strong>Lobos: </strong>Estas son criaturas sencillas, muy comunes para lograr nivel sin perder mucha vida. Está compue4sto por tres lobeznos, uno más grande y dos pequeños, Si acabamos con el grande primero, reduciremos considerablemente el daño que recibimos, mejor que si eliminamos primero a los pequeños, además de que es el campamento más facil de todos. </p>
</div>

<div class="text-center col-12">
    <img decoding="async" src="imagen/sapo.jpg" class="img-fluid" width="1000"></amp-img>
</div>
<div class="sapo">
    <p><strong >Gromp o "sapo": </strong>Sapo gigante que suele ser habitual para empezar la partida. Es recomendable pedir ayuda para bajarlo rápido y no recibir mucho daño, teniendo así la experiencia de forma sencilla, ya que usualmente se hace despues de derrotar al Coloso celeste o Azul.</p>
</div>

<div class="text-center col-12">
    <img decoding="async" src="imagen/krug.jpg" class="img-fluid" width="1000"></amp-img>
</div>

<div class="krug">
    <p><strong>Krug</strong>: Es otra opción a la hora de empezar la ruta en la jungla. Se compone de dos <strong>Krug </strong>que se van dividiendo en otros más pequeños según vamos acabando con su vida. Lo mejor es empezar con el pequeño e ir eliminando de menor a mayor tamaño. Este es el campamento que te cuenta más tiempo por lo que es el menos querido.</p>
</div>

<div class="text-center col-12">
    <img decoding="async" src="imagen/blue.jpg" class="img-fluid" width="1000"></amp-img>
</div>
<div class="blue">
    <p><strong>Coloso celeste</strong>: Conocido como azul, es uno de los campamentos medianos de la jungla que otorga una bonificación o buffo cuando acabamos con él. Este buffo, Emblema de perspicacia, aumenta la reducción de enfriamiento y la regeneración de maná, por lo que es común dejárselo al midlaner cuando ha reaparecido por segunda o tercera vez.</p>
<div>

<div class="text-center col-12">
    <img decoding="async" src="imagen/red.jpg" class="img-fluid" width="1000"></amp-img>
</div>
<div class="red">
    <p><strong>Ancestro ígneo</strong>: Es otro campamento mediano, y se le conoce como rojo por la bonificación que otorga a quien lo mate. El buffo rojo, Emblema de cenizas, otorga daño verdadero y ralentización a cualquier enemigo que se golpee. Es muy importante para el jungla, pues hace los gankeos mucho más factibles de acabar con la vida de alguien.</p>
</div>
<div class="text-center col-12">
    <img decoding="async" src="imagen/dragon.jpg" class="img-fluid" width="1000"></amp-img>
</div>
<div class="drake">
    <p><strong>Dragón</strong>: Se encuentra en el río, en la parte inferior. Es un objetivo neutral muy importante, pues otorga una bonificación según el tipo de Dragón que matemos por lo que le puede beneficiar más a algunos campeones que a otros. Acá te contamos cuales son esas bonificación según el tipo:</p>
</div>
<div>
    <ul> <li><strong>Fuego</strong>- Poder del Dragón: Aumenta el daño infligido a campeones enemigos. </li>
        <li><strong>Montaña</strong>- Ira del Dragón: Daño adicional contra torretas y monstruos épicos.</li> 
        <li><strong>Aire</strong>- Vuelo del Dragón: Velocidad de movimiento adicional.</li> 
        <li><strong>Oceano</strong>- Dominancia del Dragón: Aumenta la regeneración de vida y maná .</li> 
        <li><strong>Ancestral</strong>- Aspecto del Dragón: Duplica las demás bonificaciones y además hace que los ataques causen gran cantidad de daño ígneo prolongado.</li> 
    </ul>
</div>
<div class="text-center col-12">
    <img decoding="async" src="imagen/baron.jpg" class="img-fluid" width="1000"></amp-img>
</div>
<div class="baron">
<p><strong>Barón Nashor</strong>: Es el monstruo más peligroso y más icónico de la jungla. Este aparece despues del minuto 20, es recomendable que todos los integrantes del equipo ayuden a acabar con su vida, pues el enemigo tratará de robarlo o acabar con la vida del tuyo mientras intentas hacerlo.</p>
<p>Si logras acabar con él, todos los integrantes del equipo que estén vivos recibirán la Mano del Barón, una mejora que aumenta el daño y el poder de habilidad, reduciendo el tiempo de la retirada. Además, mejora el daño, alcance, movimiento y la defensa de los subditos que se encuentren cerca.</p>
</div>
