<body class="bod">
    
</body>
<main>
        <section class="altura-a-b">
            <div class="container">
                <div class="row">
                    <div class="titulo"><h1>
                    Los roles de League of Legends
                    </h1></div>
                    <div class="col-12 text-center">
                        <img class="img-fluid shadow-lg" src="imagen/roles.jpg" alt="imagen 01" width="500px">
                    </div>
                <div>
            <div>
        <section>           
    <main>
<div class="subtitulo">
    <h2>Las lineas</h2>
</div>
<div>
    <p>En un mapa de 5v5, nos encontramos con 3 lanes o caminos, el de arriba (TOP) estará liderado por un campeón normalmente cuerpo a cuerpo y tank. En el camino del medio (MID), luchará un campeón AP (Poder de habilidad, un mago). En el camino de abajo (BOT), se encontrarán un ADC y un Support. Y en la JUNGLA, nos encontraremos con el JUNGLER. Luego de esta breve explicacion los dejo con los roles.</p>
</div>
<div class="top text-center">
    <p> 
        <img decoding="async" src="imagen/top.jpg" class="img-fluid" width="700"></amp-img>
    </p>
</div>

<div class="topp" >
<h3><strong>TOP:</strong></h3>
</div>
<div class="top">
    <p>Normalmente nos toparemos con un personaje tanque, cuerpo a cuerpo y AD (daño de ataque), aunque hay excepciones en las que nos encontraremos con un APtank. Ejemplos de personajes TOP: Garen, Darius, Teemo, Jayce</p>
</div>


<div class="mid text-center">
    <p> 
        <img decoding="async" src="imagen/mid.jpg" class="img-fluid" width="700"></amp-img>
    </p>
</div>
<div class="midd" >
    <h3><strong>MID:</strong></h3>
</div>
    <div class="mid">
        <p>Los campeones de mid están pensados para hacer el máximo daño a otros campeones en League of Legends. La resistencia mágica puede mitigar este daño, pero por lo general suele ser tan agresivo que, si tiene una buena composición de objetos, haya pocos que puedan frenarle.Algunos ejemplos de mid son: Zed, Yone, Yasuo.</p>
    </div>

    <div class="adc text-center">
        <p> 
            <img decoding="async" src="imagen/adc.jpg" class="img-fluid" width="700"></amp-img>
        </p>
    </div>
<div class="ADCC" >
    <h3><strong>ADC:</strong></h3>
</div>
<div class="ADC">
    <p>Es un personaje que se centra en comprar objetos que aumenten su daño de ataque, penetración de armadura y velocidad de ataque. (Suelen ser personajes a distancia). Ejemplo: Ashe, Caitlyn, Draven, Varus, Ezreal.</p>
</div>

<div class="sup text-center">
    <p> 
        <img decoding="async" src="imagen/sup.jpg" class="img-fluid" width="700"></amp-img>
    </p>
</div>
<div class="supp" >
    <h3><strong>SUP:</strong></h3>
</div>

<div class="sup">
    <p>Un personaje que se dedique a curar, poner escudos o facilitar las muertes a su ADC. Deben comprar objetos que obtengan tanto activas como pasivas para sus aliados y WARDS (items de vision) para el mapa. Nunca debe matar, pues debe dejar que su ADC consiga kills. Ejemplo de Supports: Sona, Taric, Zilean, Nami</p>
</div>
<div class="jg text-center">
    <p> 
        <img decoding="async" src="imagen/jungla.jpg" class="img-fluid" width="700"></amp-img>
    </p>
</div>
<div class="jgg" >
    <h3><strong>JUNGLA:</strong></h3>
</div>
<div class="jg">
    <p>En un personaje que se dedica a matar a los monstruos que hay en la jungla para conseguir dinero y experiencia y además, deberá 'GANKEAR' en las demás lanes, es decir, aparecer de incógnito para ayudar a su aliado a conseguir una muerte. Este peronsaje siempre debe ir generalmente con el hechizo "SMITE". Algunos ejemplos de campeones buenos para jungla son: Maestro Yi, Hecarim, Warwick, Kayn</p>
</div>
<div class="imagen03">
    <img src="imagen/Different-Lanes-LoL.png" alt="imagen03" width="70%" >
</div>